

<div class="row">
  <div>
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Alimentos</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Por ejemplo, huevo, tortillas, etc" aria-label="Username" aria-describedby="basic-addon1">
          <button class="btn btn-success" (click)="getEvents()"><i class="fa fa-search"></i>Buscar</button>

        </div>
        <div class="input-group mb-3">
        </div>
        <!-- <label>Fecha de Expedición</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Inicio</span>
          </div>
          <input type="date" class="form-control" [ngModel] ="emissionStartDate | date:'yyyy-MM-dd'" (ngModelChange)="emissionStartDate = $event">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Fin</span>
          </div>
          <input type="date" class="form-control" [ngModel]="emissionEndDate| date:'yyyy-MM-dd'"  (ngModelChange)="emissionEndDate = $event">
        </div> -->
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">

  <div class="col-sm-7">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead style="background-color: #007bff; color:white; font-size: small;">
          <tr>
            <th>Fecha evento</th>
            <th>Nivel glucosa</th>
            <th>Pospandrial</th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr [ngStyle]="selectedIndexEventType === i ? {'background-color': 'whitesmoke'} : {'': ''}" style="font-size: small;"
              *ngFor="let e of pagedData.pagedList; index as i;">
            <td (click)="changeSelectedIndex(i)">{{e.eventDate | date: 'dd/MM/yyyy'}}</td>
            <td (click)="changeSelectedIndex(i)">{{e.glcLevel}}</td>
            <!-- <td (click)="changeSelectedIndex(i)">{{e.pospandrial}}</td> -->
            <td (click)="changeSelectedIndex(i)">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" disabled="true" name="Posprandial" [(ngModel)]="e.pospandrial" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked"></label>
              </div>
            </td>

            <!-- <td><i class="fa fa-info" (click)="openInfo(contentInfo, i)"  aria-hidden="true" style="font-size:17px;"></i></td> -->
            <th *ngIf="selectedIndexEventType === i">
              <button class="btn btn-danger btn-sm"><i class="fa fa-ban" (click)="enableDeleteEvent(i)" style="font-size: 10px;" aria-hidden="true"></i></button>
            </th>
            <th *ngIf="selectedIndexEventType !== i">
            </th>
          </tr>

        </tbody>

      </table>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <h6>{{pagedData.totalCount}} resultados</h6>
      </div>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="selectedItemPerPageOption" (change)="manageItemsPerPage($event)">
          <option *ngFor="let x of itemsPerPageOptionValue" [ngValue]="x">{{x.text}}</option>
        </select>
        <br />
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li *ngIf="currentPage != 0" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="firstPage()"><<</a></li>
            <li *ngIf="currentPage != 0" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="previousPage()">Atrás</a></li>
            <li *ngFor="let p of viewPageLinks" class="page-item">
              <a *ngIf="currentPage !== p" class="page-link" href="javascript:void(0)" (click)="goToPage(p)">{{p +1}}</a>
              <a *ngIf="currentPage === p" class="page-link">{{p+1}}</a>
            </li>
            <li *ngIf="currentPage != totalPages -1" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="nextPage()">Siguiente</a></li>
            <li *ngIf="currentPage != totalPages -1" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="lastPage()">>></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div *ngIf="!deleteMode" class="col-sm-5">
    <div class="card text-center">
      <div class="card-header">
        Alimentos
      </div>
      <div class="card-body">
        <form class="row g-4">

          <div class="col-sm-4">
            <label for="inputAddress" class="form-label" name="glcLevel">Glucosa</label>
            <br>
            <label name="glcLevel">{{currentEventShow.glcLevel}}</label>

          </div>
          <div class="col-sm-4">

            <label class="form-check-label" for="flexSwitchCheckChecked">Fecha</label>
            <br>
            <label name="glcLevel">{{currentEventShow.eventDate | date: 'dd/MM/yyyy'}}</label>
          </div>

          <div class="col-sm-4">
            <label class="form-check-label" for="flexSwitchCheckChecked">Tiempo</label>
            <br>
            <label name="glcLevel">{{currentEventShow.mealTypeText}}</label>
          </div>

        </form>

        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Alimento</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of currentEventShow.mealList; index as i">
              <td>{{m.mealName}}</td>
              <td>{{m.quantity}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="deleteMode" class="col-sm-5">
    <div class="card text-center">
      <div class="card-header">
        Eliminar registro
      </div>
      <div class="card-body">
        <a href="javascript:void(0)" (click)="closeDeleteMode()">
          <i class="fa fa-window-close-o fa-2x position-absolute top-0 end-0" style="color: blue;"></i>
        </a>
        <h5>¿Estás seguro de eliminar el registro?. Una vez eliminado no podrá recuperarse</h5>
        <br>
        <h6>Ingresa tu contraseña para continuar</h6>
        <form class="row g-3">

          <div class="col-md-12">
            <label for="inputZip" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="userPassword" name="passwordForDelete" id="passwordForDelete">
          </div>

          <div class="form-group; text-center">
            <button type="button" class="btn btn-danger" (click)="getDeleteToken()">Borrar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<br>
