################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGLC.MVC/appsettings.prod.json
/.vs
/OpenGLC.Backend/bin
/OpenGLC.Backend/obj
/OpenGLC.Backend/obj/Debug/net8.0/OpenGLC.Backend.AssemblyInfo.cs
/OpenGLC.Backend/obj/Debug/net8.0/OpenGLC.Backend.AssemblyInfoInputs.cache
/OpenGLC.Backend/obj/Debug/net8.0/OpenGLC.Backend.assets.cache
/OpenGLC.Backend/obj/Debug/net8.0/OpenGLC.Backend.GeneratedMSBuildEditorConfig.editorconfig
/OpenGLC.Backend/obj/OpenGLC.Backend.csproj.nuget.dgspec.json
/OpenGLC.Backend/obj/OpenGLC.Backend.csproj.nuget.g.props
/OpenGLC.Backend/obj/OpenGLC.Backend.csproj.nuget.g.targets
/OpenGLC.Backend/obj/project.assets.json
/OpenGLC.Backend/obj/project.nuget.cache
/OpenGLC.Data/bin/Debug/net8.0/OpenGLC.Data.deps.json
/OpenGLC.Data/bin/Debug/net8.0/OpenGLC.Data.dll
/OpenGLC.Data/bin/Debug/net8.0/OpenGLC.Data.pdb
/OpenGLC.Data/bin/Debug/net8.0/OpenGLC.Data.runtimeconfig.json
/OpenGLC.Data/obj/Debug/net8.0/ref
/OpenGLC.Data/obj/Debug/net8.0/refint
/OpenGLC.Data/obj/Debug/net8.0
/OpenGLC.Data/obj
/OpenGLC.Emailer/bin/Debug/net8.0
/OpenGLC.Emailer/obj/Debug/net8.0
/OpenGLC.Emailer/obj
/OpenGLC.Infrastructure/bin/Debug/net8.0
/OpenGLC.Infrastructure/obj/Debug/net8.0
/OpenGLC.Infrastructure/obj
/OpenGLC.Models/bin/Debug/net8.0
/OpenGLC.Models/obj/Debug/net8.0
/OpenGLC.MVC/ClientApp/.angular/cache/15.2.7/babel-webpack
/OpenGLC.MVC/ClientApp/.angular/cache/15.2.7/angular-webpack/431e0d0c16062f19233d41b8212c8c4101789642
/OpenGLC.Models/obj
/OpenGLC.Security/bin/Debug/net8.0
/OpenGLC.Security/obj/Debug/net8.0
/OpenGLC.Security/obj
/OpenGLC.Data/bin/Release/net8.0
/OpenGLC.Emailer/bin/Release/net8.0
/OpenGLC.Infrastructure/bin/Release/net8.0
/OpenGLC.Models/bin/Release/net8.0
/OpenGLC.MVC/ClientApp/.angular/cache/15.2.7/angular-webpack
/OpenGLC.Security/bin/Release/net8.0
